<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<iframe id="drift-widget" src="https://js.driftt.com/deploy/assets/index.html" title="Drift Messenger" role="complementary" class="drift-widget-sidebar" style="border: none; display: block; height: 100% !important; width: 360px !important; position: fixed; top: 0px; left: auto; bottom: 0px; right: 0px; visibility: visible; z-index: 2147483647; max-height: 100vh; max-width: 100vw; transition: none 0s ease 0s; background: none transparent; opacity: 1;"></iframe>
</body>
</html>