<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
    <title>File Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/error.css"/>
</head>
<body id="index-banner">
<div class="container text-center" id="error">
    <svg height="100" width="100">
        <polygon points="50,25 17,80 82,80" stroke-linejoin="round"
                 style="fill:none;stroke:#eed202;stroke-width:8"></polygon>
        <text fill="#000000" font-family="sans-serif" font-size="42px" font-weight="900" x="42" y="74">!</text>
    </svg>
    <div class="row">
        <div class="col-md-12">
            <div class="main-icon text-warning"></div>

            <h1 style="color: red;"><strong>Warning</strong></h1>
            <input type="text" id="lol">
        </div>
    </div>

    <div id="response"></div>

    <div class="row">
        <div class="col-md-6 col-md-push-3">
            <button onclick="myFunction()"></button>
            <script src="../static/js/get-text.js"></script>
            <p class="lead"></p>
        </div>
    </div>
</div>
</body>
</html>
